.card {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    &__item {
        width: 100%;
        margin: 15px;
        @media screen and (min-width: $tablet) {
            width: calc((100% - 60px) / 2);
        }
        @media screen and (min-width: $desktop) {
            width: calc((100% - 120px) / 4);
        }
    }
}

.card-clients {
    @media screen and (min-width: $tablet) {
        width: calc((100% - 90px) / 3);
    }
    @media screen and (min-width: $desktop) {
        width: calc((100% - 180px) / 6);
    }
}

.card-portfolio {
    @media screen and (min-width: $desktop) {
        width: calc((100% - 90px) / 3);
    }
}