.section {
    &__title {
        font-family: 'Roboto';
        font-weight: 700;
        @include fs ($fs-mobile-title, $fs-desktop-title);
        text-align: center;
        color: $col-text-basic-black;
        margin-bottom: 30px;
    }
}