.socials {
    display: flex;
    justify-content: space-between;
    width: 206px;
    margin: auto;
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        color: $col-icon-basic;
        border-radius: 50%;
    }
    &__link:hover {
        color: $col-icon-hover;
        background: $col-icon-hover-bg;
        border-radius: 50%;
    }
    &__icon {
        width: 20px;
        height: 20px;
        fill: currentColor;
        transition: color 250ms, background 250ms, border-radius 250ms;
    }
}