// .btn-studio {
//     width: 200px;
// }
.footer-bg {
    background: #2f303a;
}

.footer-content {
    @media screen and (min-width: $desktop) {
        display: flex;
        justify-content: space-between;
    }
}

.footer {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    @media screen and (min-width: $tablet) {
        display: flex;
    }
    &__logo {
        text-align: center;
        margin-bottom: 20px;
        @media screen and (min-width: $desktop) {
            text-align: left;
        }
    }
    &__logo-span {
        color: #ffffff;
    }
    &__address-section {
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // height: inherit;
        margin-bottom: 60px;
        @media screen and (min-width: $tablet) {
            // display: flex;
            // justify-content: space-around;
            margin-right: 165px;
        }
        @media screen and (min-width: $desktop) {
            // display: flex;
            // justify-content: space-around;
            margin-right: 70px;
        }
    }
    &__address {
        // display: flex;
        // align-items: center;
        // flex-direction: column;
        text-align: center;
        // margin-top: 20px;
        // margin-right: 70px;
        @media screen and (min-width: $desktop) {
            text-align: left;
        }
    }
    &__address-address {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #ffffff;
        line-height: 1.7;
    }
    &__address-link {
        display: block;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        color: rgba(255, 255, 255, 0.6);
    }
    &__socials {
        margin-bottom: 60px;
        @media screen and (min-width: $desktop) {
            text-align: left;
        }
    }
    &__socials-title {
        text-align: center;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 20px;
        @media screen and (min-width: $desktop) {
            text-align: left;
        }
    }
}

.logo-footer {
    text-align: center;
}

.socials {
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        color: #afb1b8;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.1);
    }
}

.footer-form {
    // display: inline;
    // text-align: center;
    // align-self: flex-end;
    // margin-top: 60px;
    margin-left: auto;
    @media screen and (min-width: $desktop) {
        margin: 0;
    }
    &__title {
        text-align: center;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        color: #FFFFFF;
        @media screen and (min-width: $desktop) {
            text-align: left;
        }
    }
}

.form {
    &__input {
        display: block;
        width: 100%;
        height: 50px;
        background: #2F303A;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        color: rgba(255, 255, 255, 0.6);
        padding-left: 16px;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-right: auto;
        @media screen and (min-width: $tablet) {
            width: 450px;
            margin-left: auto;
            margin-right: auto;
        }
        @media screen and (min-width: $desktop) {
            width: 358px;
            margin-right: 12px;
        }
    }
    &__label {
        width: 100%;
        display: block;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        @media screen and (min-width: $desktop) {
            display: flex;
            align-items: center;
        }
    }
    &__icon {
        width: 24px;
        height: 24px;
        margin-left: 10px;
        fill: currentColor;
    }
}