.section {
    padding-top: 60px;
    padding-bottom: 60px;
    &__title {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        color: #212121;
        margin-bottom: 30px;
    }
}