//CARD-PROPERTIES----------------------------------------------------
.card-properties {
    &__icon-wrapper {
        @extend %flex-center;
        height: 120px;
        background: #f5f4fa;
        border-radius: 4px;
        margin-bottom: 30px;
    }
    &__icon {
        width: 70px;
        height: 70px;
    }
    &__title {
        text-align: center;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        color: $col-text-basic-black;
        margin-bottom: 10px;
    }
    &__description {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: $col-text-secondary;
    }
}

//CARD-FEATURES------------------------------------------------------
.features {
    display: none;
    @media screen and (min-width: $desktop) {
        display: block;
    }
}

.card-features {
    position: relative;
    &__img {
        display: block;
    }
    width: calc((100% - 90px) / 3);
    &__description {
        position: absolute;
        width: 100%;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.15;
        text-align: center;
        text-transform: uppercase;
        color: $col-text-basic-wite;
        background: rgba(47, 48, 58, 0.8);
        padding-top: 27px;
        padding-bottom: 27px;
        bottom: 0;
        left: 0;
    }
}

//CARD-TEAM-----------------------------------------------------------
.team {
    background: #F5f4fa;
}

.card-team {
    &__item {
        background: #ffffff;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }
    &__item>.socials {
        margin-bottom: 24px;
    }
    &__img {
        display: block;
        width: 100%;
    }
    &__title {
        font-weight: 500;
        font-size: $fs-card-title;
        text-align: center;
        color: $col-text-basic-black;
        padding-top: 30px;
    }
    &__description {
        font-size: $fs-card-description;
        text-align: center;
        color: $col-text-secondary;
        margin-top: 10px;
        padding-bottom: 16px;
    }
}

//CAARD-CLIENTS------------------------------------------------------
.card-clients {
    @extend %flex-center;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;
    transition: color 250ms, border-color 250ms;
    width: calc((100% - 60px) / 2);
    &:hover {
        color: #2196F3;
        border-color: #2196F3;
    }
    &__icon {
        width: 106px;
        height: 60px;
        fill: currentColor;
    }
    @media screen and (min-width: $tablet) {
        width: calc((100% - 90px) / 3);
    }
    @media screen and (min-width: $desktop) {
        width: calc((100% - 180px) / 6);
    }
}