.page {
    position: relative;
}

.topline-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #ECECEC;
}

.menu-btn {
    @media screen and (min-width: $tablet) {
        display: none;
    }
}