body {
    font-family: 'Roboto', sans-serif;
    width: 1600px;
    margin: auto;
}

ul,
li,
h1,
h2 {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: auto;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    font-size: 14px;
}

.logo {
    width: 145px;
    height: 31px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    color: #2196f3;
}

.logo span {
    color: #000000;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 294px;
    margin-right: 331px;
}

.nav>li>a {
    font-weight: 500;
    color: #212121;
}

.address {
    display: flex;
    justify-content: space-between;
    width: 307px;
}

.email {
    font-style: normal;
    font-weight: 500;
    color: #2196F3;
}

.telephone {
    font-style: normal;
    font-weight: 500;
    color: #757575;
}

.header-bg {
    background: #2F303A;
}

.header-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.header-main>h1 {
    width: 696px;
    height: 120px;
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.header-main>button {
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
}

.header-main>button>p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.details-wrap {
    margin-top: 94px;
}

.details {
    width: 1170px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.details>li {
    width: 270px;
}

.details>li>h2 {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #212121;
    margin: 0 0 10px 0;
}

.details>li>p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
    margin: 0 0 94px 0;
}

.preview-wrap {
    margin-bottom: 94px;
}

.preview>h2 {
    text-align: center;
    margin: 0 0 50px 0;
}

.preview>ul {
    display: flex;
    justify-content: space-between;
}

.team-wrap {
    height: 648px;
    background: #F5f4fa;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: inherit;
}

.team-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: inherit;
}

.team-content>li {
    background: #ffffff;
    height: 368px;
}

.name-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 108px;
}

.name {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #212121;
    margin-bottom: 10px;
}

.job {
    font-weight: 400px;
    font-size: 16px;
    text-align: center;
    color: #757575;
}

.footer-wrap {
    height: 252px;
    background: #2f303a;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;
}

.footer>address {
    display: flex;
    flex-direction: column;
}

.footer>a>span {
    color: #ffffff;
}

.address>p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    margin: 20px 0 0 0;
}

.address>a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 9px;
}